.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  margin-top: 8rem;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 4rem;
  color: cadetblue;
}

.loginForm {
  margin-top: 1rem;
  width: 22rem;
  padding: 2rem 1rem;
}

.submitContainer {
  display: flex;
  justify-content: center;
}
